article.buoy
  h1 {{buoy.name}}

  .latest
    span.direction(data-direction="{{buoy.latest.direction}}") {{buoy.latest.directionString}}
    .size
      span.hsig {{buoy.latest.hsig}}m
      span.hmax
        {{buoy.latest.hmax}}m
        span.max max
    .period
      span.tsig {{buoy.latest.tsig}}sec
      span.tp1 
        {{buoy.latest.tp1}}sec
        span.max max
  .history(history-graph="true", amount="6")

  footer
    a.refresh(href="", ng-click="refresh($event)", title="Check for new conditions") Refresh

    a.updated(href="{{buoy.url}}", title="Visit the live graph") Updated {{buoy.latest.updated_ago}}
