article.buoy
  h1 {{buoy.name}}

  .latest
    .compass(compass="true") {{buoy.latest.direction}}
    .size
      span.hsig {{buoy.latest.hsig}}m
      span.hmax
        {{buoy.latest.hmax}}m
        span max
    .period
      span.tsig {{buoy.latest.tsig}}sec
      span.tp1 
        {{buoy.latest.tp1}}sec
        span max
    .direction
      span.simplified {{buoy.latest.directionString}}
      span.degrees
        {{buoy.latest.direction}}&deg;
        abbr(title="True north") TN
  .history(history-graph="true", amount="6")

  footer
    a.updated(href="{{buoy.url}}", title="Visit the live graph") Updated {{buoy.latest.created_at | relative_time}}
