.graph(data-tsig="{{history.tsig | json}}", data-hsig="{{history.hsig | json}}")
table.metric.values
  tbody
    tr.size
      th(scope="row") Size
      td(ng-repeat="reading in history.history") {{reading.hsig}}m
    tr.period
      th(scope="row") Period
      td(ng-repeat="reading in history.history") {{reading.tsig}}s
    tr.direction
      th(scope="row") Direction
      td(ng-repeat="reading in history.history") 
        .compass(compass="true", direction="{{reading.direction}}") {{reading.direction}}
  tfoot
    tr
      //- Header cells here will be a unit of time (e.g. 20H)
      th(scope="row") Time
      th(scope="col", ng-repeat="reading in history.history") 
        {{reading.created_at | hours24}}
        span.relative {{reading.created_at | minusHours}}
