h3 Past {{amount}} hours

.metric.with-graph.size
  div.graph(data-history="{{history.hsig | json}}")
  h4 Size
.metric.with-graph.period
  div.graph(data-history="{{history.tsig | json}}")
  h4 Period
.metric.directions
  ul
    li(ng-repeat="direction in history.directions") {{direction | compass}} 
  h4 Direction
