extends layout

block body
  header
    h1 
      a(ng-href="/", title="Go to the buoys list") Buoys
    a.home(ng-href="/", title="Go to the buoys list") Home
    a.refresh(refresh="true", href="", ng-click="refresh($event)", title="Check for new conditions") Refresh

  .view(ng-view)

  footer
    a.copyright(ng-href="http://new.mhl.nsw.gov.au/data/realtime/wave/", tite="Manly Hydraulics Labratory") Data © NSW Public Works
    | &nbsp;|&nbsp;
    a.about(ng-href="/about", title="Read all about this app") About this app
    .affil This site is not affiliated with NSW Public Works.

  != js('crashmat')
  != js('typekit')
  != js('gauges')
  != js('lib/zepto.min')
  != js('lib/d3.v2.min')
  != js('lib/fastclick')
  != js('lib/moment.min')
  != js('lib/underscore.min')
  != js('lib/angular/angular.min')
  != js('services')
  != js('directives')
  != js('filters')
  != js('resources')
  != js('controllers')
  != js('app')
