extends layout

block body
  header
    h1 
      a(ng-href="/", title="Go to the buoys list") Buoys

  .view(ng-view)

  footer
    .source
      | Data sourced from the 
      a(ng-href="http://new.mhl.nsw.gov.au/data/realtime/wave/", tite="Manly Hydraulics Labratory") MHL
    a.about(ng-href="/about", title="Read all about this app") About this app

  != js('crashmat')
  != js('typekit')
  != js('gauges')
  != js('lib/zepto.min')
  != js('lib/d3.v2.min')
  != js('lib/fastclick')
  != js('lib/angular/angular.min')
  != js('lib/angular/angular-resource.min')
  != js('services')
  != js('directives')
  != js('resources')
  != js('controllers')
  != js('app')
