extends layout

block body
  div(ng-view)

  != js('crashmat')
  != js('gauges')
  != js('lib/zepto.min')
  != js('lib/fastclick')
  != js('lib/angular/angular')
  != js('app')
  != js('services')
  != js('controllers')
