@import 'normalize';
@import 'compass/css3';
@import "compass/typography/links/hover-link";

$link: "&:link, &:visited";
$focus: "&:active, &:hover, &:focus";

$yellow: #fffcf4;
$darkComplement: darken(complement($yellow), 70);

html {
  overflow: hidden;
}

body {
  background: url('/images/wavecut_@2X.png') 0 0 repeat;
  color: desaturate(darken($yellow, 75), 60);
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 400;
}

b {
  font-weight: 600;
}

a {
  @include hover-link;

  #{$link} {
    color: desaturate(darken($yellow, 70), 30);
  }
  #{$focus} {
    color: darken($yellow, 85);
  }
}

header, .buoy, .buoys {
  @include box-shadow(rgba($darkComplement, .2) 0 1px 5px);
}

header {
  padding: 11px 0 6px 0;
  border-bottom: 1px solid rgba($darkComplement, .2);
  background-color: transparentize($yellow, 0.35);
  position: relative;
  
  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;

    a {
      #{$link} {
        color: #009ea2;
      }
      #{$focus} {
        color: #007d80;
        text-decoration: none;
      }
    }
  }
  .home, .refresh {
    position: absolute;
    width: 24px;
    background: url('/images/sprites.png') 0 0 no-repeat;
    text-indent: -999em;
  }
  .home {
    left: 10px;
    top: 8px;
    height: 23px;
    background-position: -150px 0;

    #{$focus} {
      background-position: 0 0;
    }
  }
  .refresh {
    right: 10px;
    top: 7px;
    height: 25px;
    background-position: -190px 0;

    #{$focus} {
      background-position: -40px 0;
    }
  }
}

// NG View container
.view {
  margin-top: 12px;
}

.buoy, .buoys, .copy {
  margin: 5px;
  border-radius: 2px;
  border: 1px solid rgba($darkComplement, .15);
  border-top-color: rgba($darkComplement, .1);
  border-bottom-color: rgba($darkComplement, .175);
  background-color: transparentize($yellow, 0.3);
}

.buoys {
  list-style: none;
  padding-left: 0;

  li {
    border-top: 1px solid rgba(lighten($yellow, 10), .4);
    border-bottom: 1px solid rgba($darkComplement, .1);

    &:first-child {
      a {
        top-border-radius: 1px;
      }
    }
    &:last-child {
      border-bottom: none;

      a {
        bottom-border-bottom: 1px;
      }
    }
  }
  a {
    display: block;
    padding: .8em 1em;
    text-decoration: none;

    #{$link} {
      @include background-image(linear-gradient(rgba(lighten($yellow, 10), .05) 40%, transparent));
    }
    #{$focus} {
      background-color: rgba(lighten($yellow, 10), .5);
    }
  }
  .latest {
    padding-left: 8px;
    color: desaturate(darken($yellow, 50), 70);
    font-size: 14px;
  }
}

.copy, .buoy {
  padding: .8em 1em;

  h1 {
    margin: 0 0 10px 0;
    color: #009ea2;
    font-size: 24px;
    font-weight: 400;
  }
}

.buoy {
  .latest {
    position: relative;
    margin-bottom: 18px;

    .compass {
      width: 52px;
      height: 78px;
      position: absolute;
      top: 6px;
      left: 14px;
      display: inline-block;
      font-size: 0px;
      background: url('/images/sprites.png') -150px -160px no-repeat;
    }
    .size, .period, .direction {
      margin-left: 108px;
    }
    .hsig, .tsig, .simplified {
      font-size: 24px;
      font-weight: 600;
    }
    .hmax, .tp1, .degrees {
      vertical-align: super;
      font-size: 13px;
      margin-left: 4px;

      abbr, span {
        padding-left: 2px;
        text-transform: uppercase;
        color: #009ea2;
      }
      abbr {
        border: none;
      }
    }
  }

  footer {
    margin: 0;

    .updated {
      margin-left: 5px;
    }
  }

}

.history {
  margin-bottom: 10px;

  .graph {
    height: 100px;
    margin-bottom: 10px;

    // SVG
    path {
      stroke-width: 2px;
      fill: none;
      stroke-linejoin: round;
      stroke-linecap: round;
      //shape-rendering: crispEdges;
    }
    .period {
      stroke: #009ea2;
    }
    .size {
      stroke: #006c6f;
    }
  }
  table {
    width: 100%;
    text-align: center;

    td, th {
      border-right: 1px solid desaturate(darken($yellow, 10), 70);
      
      &:last-child {
        border-right: none;
      }
    }
    th {
      font-weight: 400;
    }
    th:first-child {
      display: none;
    }
    .period {
      color: #009ea2;
    }
    .size {
      color: #006c6f;
    }
  }
  .compass {
    width: 16px;
    height: 24px;
    display: inline-block;
    font-size: 0px;
    background: url('/images/sprites.png') -100px -160px no-repeat;
    position: relative;
    top: -10px;
  }
}

footer {
  font-size: 13px;
  color: #009ea2;
  margin: 10px;
  position: relative;

  a {
    #{$link} {
      color: #007d80;
    }
    #{$focus} {
      color: #009ea2;
    }
  }
  .about {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
  }
}

// Retina retina retina
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  body {
    background-image: url('/images/wavecut_@2X.png');
    background-size: 162px auto;
  }
  .home, .refresh, .compass {
    background-image: url('/images/sprites@2X.png');
    background-size: 300px auto;
  }
}
