@import 'compass/css3';
@import "compass/typography/links/hover-link";

$link: "&:link, &:visited";
$focus: "&:active, &:hover, &:focus";

$yellow: #fff8e3;
$darkComplement: darken(complement($yellow), 70);

body {
  background-color: lighten($yellow, 4);
  font-size: 15px;
  line-height: 1.4;
  color: desaturate(darken($yellow, 75), 60);
}

a {
  @include hover-link;

  #{$link} {
    color: desaturate(darken($yellow, 70), 30);
  }
  #{$focus} {
    color: darken($yellow, 85);
  }
}

.buoy, .buoys {
  @include box-shadow(rgba($darkComplement, .15) 0 0 5px);
  margin: 15px 5px;
  border-radius: 2px;
  background-color: saturate($yellow, 20);
  border: 1px solid rgba($darkComplement, .1);
}

.buoys {
  list-style: none;
  padding-left: 0;

  li {
    border-top: 1px solid rgba(lighten($yellow, 10), .4);
    border-bottom: 1px solid rgba($darkComplement, .1);

    &:first-child {
      a {
        top-border-radius: 1px;
      }
    }
    &:last-child {
      border-bottom: none;

      a {
        bottom-border-bottom: 1px;
      }
    }
  }
  a {
    display: block;
    padding: .8em 1em;
    text-decoration: none;

    #{$link} {
      @include background-image(linear-gradient(rgba(lighten($yellow, 10), .05) 40%, transparent));
    }
    #{$focus} {
      background-color: rgba(lighten($yellow, 10), .5);
    }
  }
}

.buoy {
  padding: .8em 1em;

  h1 {
    margin-top: 0;
  }
  .source {
    display: block;
  }
}

nav {
  margin: .5em 1em;
}
