@import 'compass/css3';
@import "compass/typography/links/hover-link";

$link: "&:link, &:visited";
$focus: "&:active, &:hover, &:focus";

$yellow: #fff8e3;
$darkComplement: darken(complement($yellow), 70);

body {
  background-color: lighten($yellow, 4);
  color: desaturate(darken($yellow, 75), 60);
  padding-top: 15px;
}

a {
  @include hover-link;

  #{$link} {
    color: desaturate(darken($yellow, 70), 30);
  }
  #{$focus} {
    color: darken($yellow, 85);
  }
}

.buoy, .buoys {
  @include box-shadow(rgba($darkComplement, .15) 0 0 5px);
  margin: 5px;
  border-radius: 2px;
  background-color: saturate($yellow, 20);
  border: 1px solid rgba($darkComplement, .1);
}

.buoys {
  list-style: none;
  padding-left: 0;

  li {
    border-top: 1px solid rgba(lighten($yellow, 10), .4);
    border-bottom: 1px solid rgba($darkComplement, .1);

    &:first-child {
      a {
        top-border-radius: 1px;
      }
    }
    &:last-child {
      border-bottom: none;

      a {
        bottom-border-bottom: 1px;
      }
    }
  }
  a {
    display: block;
    padding: .8em 1em;
    text-decoration: none;

    #{$link} {
      @include background-image(linear-gradient(rgba(lighten($yellow, 10), .05) 40%, transparent));
    }
    #{$focus} {
      background-color: rgba(lighten($yellow, 10), .5);
    }
  }
}

.buoy {
  padding: .8em 1em;

  h1 {
    margin-top: 0;
  }

  .report {
    position: relative;
  }
  .direction {
    position: absolute;
    left: 0;
    top: 1px;
    width: 70px;
    height: 30px;
    padding: 21px 0 19px 0;
    background: desaturate(darken($yellow, 50), 70);
    border: 1px solid darken($yellow, 70);
    border-radius: 36px;
    color: saturate($yellow, 20);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .size {
    padding-top: 8px;
  }
  .size, .period {
    margin-left: 80px;
  }
  .hsig, .tsig {
    font-size: 24px;
    font-weight: bold;
  }
  .hmax, .tp1 {
    vertical-align: super;
    font-size: 13px;
    margin-left: 4px;

    .max {
      padding-left: 2px;
      text-transform: uppercase;
      color: desaturate(darken($yellow, 50), 70);
    }
  }

  .updated {
    display: block;
    margin-top: 2em;
    font-size: 13px;
    color: desaturate(darken($yellow, 50), 70);
  }
}

nav {
  margin: .5em 1em;
}
