@import 'compass/css3';
@import "compass/typography/links/hover-link";

$link: "&:link, &:visited";
$focus: "&:active, &:hover, &:focus";

$yellow: #fffcf4;
$darkComplement: darken(complement($yellow), 70);

body {
  background: url('/images/wavecut_@2X.png') 0 0 repeat;
  color: desaturate(darken($yellow, 75), 60);
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 400;
}

h1, h2, b {
  font-weight: 600;
}

a {
  @include hover-link;

  #{$link} {
    color: desaturate(darken($yellow, 70), 30);
  }
  #{$focus} {
    color: darken($yellow, 85);
  }
}

header, .buoy, .buoys {
  @include box-shadow(rgba($darkComplement, .2) 0 0 5px);
}

header {
  padding: 12px 0 .5em 0;
  border-bottom: 1px solid rgba($darkComplement, .2);
  background-color: transparentize($yellow, 0.35);
  
  h1 {
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;

    a {
      #{$link} {
        color: #009ea2;
      }
      #{$focus} {
        color: #007d80;
        text-decoration: none;
      }
    }
  }
}

// NG View container
.view {
  margin-top: 12px;
}

.buoy, .buoys, .copy {
  margin: 5px;
  border-radius: 2px;
  border: 1px solid rgba($darkComplement, .15);
  border-top-color: rgba($darkComplement, .1);
  border-bottom-color: rgba($darkComplement, .2);
  background-color: transparentize($yellow, 0.3);
}

.buoys {
  list-style: none;
  padding-left: 0;

  li {
    border-top: 1px solid rgba(lighten($yellow, 10), .4);
    border-bottom: 1px solid rgba($darkComplement, .1);

    &:first-child {
      a {
        top-border-radius: 1px;
      }
    }
    &:last-child {
      border-bottom: none;

      a {
        bottom-border-bottom: 1px;
      }
    }
  }
  a {
    display: block;
    padding: .8em 1em;
    text-decoration: none;

    #{$link} {
      @include background-image(linear-gradient(rgba(lighten($yellow, 10), .05) 40%, transparent));
    }
    #{$focus} {
      background-color: rgba(lighten($yellow, 10), .5);
    }
  }
  .latest {
    padding-left: 8px;
    color: desaturate(darken($yellow, 50), 70);
    font-size: 14px;
  }
}

.copy, .buoy {
  padding: .8em 1em;

  h1 {
    margin: 0 0 18px 0;
  }
}

.buoy {
  .latest {
    position: relative;
    margin-bottom: 18px;
    min-height: 72px;
  }
  .direction {
    position: absolute;
    left: 0;
    top: 6px;
    width: 60px;
    height: 30px;
    padding: 16px 0 14px 0;
    background: #007d80;
    border: 1px solid #004b4d;
    border-radius: 36px;
    color: saturate($yellow, 20);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  .size {
    padding-top: 8px;
  }
  .size, .period {
    margin-left: 74px;
  }
  .hsig, .tsig {
    font-size: 24px;
    font-weight: 600;
  }
  .hmax, .tp1 {
    vertical-align: super;
    font-size: 13px;
    margin-left: 4px;

    .max {
      padding-left: 2px;
      text-transform: uppercase;
      color: #009ea2;
    }
  }

  footer {
    border-top: 1px solid desaturate(darken($yellow, 10), 70);
    padding-top: 18px;
    margin: 0;

    .updated {
      margin-left: 5px;
      font-style: italic;
    }
  }

}

.history {
  border-top: 1px solid desaturate(darken($yellow, 10), 70);
  padding-top: 18px;
  margin-bottom: 18px;

  h3, h4 {
    margin: 0;
  }
  h4 {
    font-weight: 400;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: .8em 0 0 0;
  }
  li {
    margin-bottom: 10px;
  }
  li:last-child {
    margin-bottom: 0;
  }
  h4 {
    display: inline-block;
    margin-left: 10px;
  }
}
.graph {
  width: 100px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 5px;

  // SVG
  path {
    stroke: #009ea2;
    stroke-width: 2px;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    //shape-rendering: crispEdges;
  }
}

footer {
  font-size: 13px;
  color: #009ea2;
  margin: 10px;
  position: relative;

  a {
    #{$link} {
      color: #007d80;
    }
    #{$focus} {
      color: #009ea2;
    }
  }
  .about {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
  }
}

// Retina retina retina
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  body {
    background-image: url('/images/wavecut_@2X.png');
  }
}
