/*
Font Custom - icon webfonts made simple
*/

@font-face {
  font-family: "fontcustom";
  src: url("/fontcustom/fontcustom-286d8809ce4c6b57d35f4e705b6ab5cd.eot?#iefix") format("embedded-opentype"),
       url("/fontcustom/fontcustom-286d8809ce4c6b57d35f4e705b6ab5cd.woff") format("woff"),
       url("/fontcustom/fontcustom-286d8809ce4c6b57d35f4e705b6ab5cd.ttf") format("truetype"),
       url("/fontcustom/fontcustom-286d8809ce4c6b57d35f4e705b6ab5cd.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
