body {
  background: url("/images/wavecut_@2X.png") 0 0 repeat;
  color: #524523;
  padding-top: 15px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 400;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("/images/wavecut_@2X.png");
  }
}
h1, h2, b {
  font-weight: 600;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:link, a:visited {
  color: #795e15;
}
a:active, a:hover, a:focus {
  color: #423000;
}

.buoy, .buoys {
  -webkit-box-shadow: rgba(0, 39, 142, 0.15) 0 0 5px;
  -moz-box-shadow: rgba(0, 39, 142, 0.15) 0 0 5px;
  box-shadow: rgba(0, 39, 142, 0.15) 0 0 5px;
  margin: 5px;
  border-radius: 2px;
  background-color: rgba(255, 252, 244, 0.7);
  border: 1px solid rgba(0, 39, 142, 0.1);
}

.buoys {
  list-style: none;
  padding-left: 0;
}
.buoys li {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(0, 39, 142, 0.1);
}
.buoys li:first-child a {
  top-border-radius: 1px;
}
.buoys li:last-child {
  border-bottom: none;
}
.buoys li:last-child a {
  bottom-border-bottom: 1px;
}
.buoys a {
  display: block;
  padding: .8em 1em;
  text-decoration: none;
}
.buoys a:link, .buoys a:visited {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, rgba(255, 255, 255, 0.05)), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.05) 40%, transparent);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.05) 40%, transparent);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.05) 40%, transparent);
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 40%, transparent);
}
.buoys a:active, .buoys a:hover, .buoys a:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
.buoys .latest {
  padding-left: 8px;
  color: #9f8b55;
  font-size: 14px;
}

.buoy {
  padding: .8em 1em;
}
.buoy h1 {
  margin: 0 0 18px 0;
}
.buoy .latest {
  position: relative;
  margin-bottom: 18px;
  min-height: 72px;
}
.buoy .direction {
  position: absolute;
  left: 0;
  top: 1px;
  width: 70px;
  height: 30px;
  padding: 21px 0 19px 0;
  background: #007d80;
  border: 1px solid #004b4d;
  border-radius: 36px;
  color: #fffcf4;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.buoy .size {
  padding-top: 8px;
}
.buoy .size, .buoy .period {
  margin-left: 80px;
}
.buoy .hsig, .buoy .tsig {
  font-size: 24px;
  font-weight: 600;
}
.buoy .hmax, .buoy .tp1 {
  vertical-align: super;
  font-size: 13px;
  margin-left: 4px;
}
.buoy .hmax .max, .buoy .tp1 .max {
  padding-left: 2px;
  text-transform: uppercase;
  color: #009ea2;
}
.buoy footer {
  border-top: 1px solid #e9e4d7;
  padding-top: 18px;
  font-size: 13px;
  color: #9f8b55;
}
.buoy footer .updated {
  margin-left: 5px;
  font-style: italic;
}

.history {
  border-top: 1px solid #e9e4d7;
  padding-top: 18px;
  margin-bottom: 18px;
}
.history h3, .history h4 {
  margin: 0;
}
.history h4 {
  font-weight: 400;
}
.history ul {
  list-style: none;
  padding: 0;
  margin: .8em 0 0 0;
}
.history li {
  margin-bottom: 10px;
}
.history li:last-child {
  margin-bottom: 0;
}
.history h4 {
  display: inline-block;
  margin-left: 10px;
}

.graph {
  width: 100px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 5px;
}
.graph path {
  stroke: #009ea2;
  stroke-width: 2px;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

nav {
  margin: .5em 1em;
}
